<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>bb_Markdown</title>
        <script src="js/工具箱.js" charset="utf-8"></script>
        <script src="http://cdn.bootcss.com/remarkable/1.7.1/remarkable.js"></script>
        <link rel="stylesheet" href="../css/markdown.css">
    </head>
    <body>
        <!-- 大标题 -->
        <div class="bb-title">
            <div class="bb-title-container">
                <!-- <img src="images/1.png" alt=""> -->
                <span class="bb-title-content">Editor.md</span>
                <br>
                <span class="bb-title-content-little">Markdown 编辑器</span>
            </div>
        </div>

        <div class="bb-main-container">
            <textarea class="bb-input bb-cell"></textarea>
            <div class="bb-print bb-cell"></div>
        </div>

        <script src=../js/markdown_main.js>

        </script>
    </body>
</html>
